{% load static %}

{% load mine_shop_tags_constants %}

{% if user.is_authenticated %}
    {% load users_tags_members %}

    {% if not new_arrivals %}
        {% load store_tags_products %}
            {% add_new_arrivals_to_context as new_arrivals %}
    {% endif %}

    {% if not top_sales %}
        {% load store_tags_sale_information %}
            {% add_top_sales_to_context as top_sales %}
    {% endif %}


    <section id="recently-reviewd" class="wow fadeInUp">
                <div class="container">
                    <div class="carousel-holder hover">

                        <div class="title-nav">
                            <h2 class="h1">{{ 'recently_viewed'|from_key }}</h2>
                            <div class="nav-holder">
                                <a href="#prev" data-target="#owl-recently-viewed" class="slider-prev btn-prev fa fa-angle-left"></a>
                                <a href="#next" data-target="#owl-recently-viewed" class="slider-next btn-next fa fa-angle-right"></a>
                            </div>
                        </div><!-- /.title-nav -->

                        <div id="owl-recently-viewed" class="owl-carousel product-grid-holder">

                            {% for product in user|usertools|recently_viewed|slice:":8"%}
                                <div class="no-margin carousel-item product-item-holder size-small hover">
                                    <div class="product-item">
                                    {% if product.is_on_sale %}
                                        <div class="ribbon red"><span>{{ 'sale'|from_key }}</span></div>
                                    {% endif %}
                                    {% if product.id in new_arrivals.ids %}
                                        <div class="ribbon blue"><span>{{ 'new_arrival'|from_key }}</span></div>
                                    {% endif %}
                                    {% if product.id in top_sales.bids %}
                                        <div class="ribbon green"><span>{{ 'bestseller'|from_key }}</span></div>
                                    {% endif %}


                                    <div class="image">
                                        <img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{{ product.images.first.image.url }}" width="190" height="140" />
                                    </div>
                                    <div class="body">
                                        <div class="title">
                                            <a href="{% url 'store:detail' product.slug %}">{{ product.title|truncatechars:30 }}</a>
                                        </div>
                                        <div class="brand">{{ product.brand.title }}</div>
                                    </div>
                                    <div class="prices">
                                        <div class="price-current text-right">{{ currency }} {{ product.price }}</div>
                                    </div>
                                    <div class="hover-area">

                                        <div class="add-cart-button" id="add-cart-button0{{ forloop.counter }}"
                                                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                                    hx-post=""
                                                    hx-trigger="click"
                                                    hx-target="#basket"
                                                    hx-vals='js:{product_id: {{ product.id }} }'
                                                >
                                                    <a>
                                                        <button class="le-button{% if not product.is_available %} inverse{% endif %}"
                                                                onclick="change_add_to_cart_button(this, '{{ 'to_basket'|from_key }}')" {% if not product.is_available %}disabled{% endif %}>
                                                            {% if not product.is_available %}
                                                                {{ 'not_available'|from_key }}
                                                            {% else %}
                                                                {{ 'to_basket'|from_key }}
                                                            {% endif %}
                                                        </button>
                                                    </a>
                                                </div>

                                        <div class="wish-compare" id="wish-compare" name="wish-compare" value="n"
                                                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                                    hx-post=""
                                                    hx-trigger="click"
                                                    hx-target="#wishlist-compare-holder"
                                                    hx-vals='js:{product_id: {{ product.id }}, value: get_element_value_by_id("wish-compare") }'
                                        >
                                                <a class="btn-add-to-wishlist" id="btn-add-to-wishlist" value="w"
                                                    onmouseover="cursor_pointer(this)"
                                                    onclick="click_to_tool_button(this, '{{ 'added'|from_key }}', 'fa fa-heart', 'wish-compare', 'w')" value="to">
                                                        {{ 'add'|from_key }}
                                                </a>

                                                <a class="btn-add-to-compare" id="btn-add-to-compare" value="c"
                                                   onmouseover="cursor_pointer(this)"
                                                    onclick="click_to_tool_button(this, '{{ 'added'|from_key }}', 'fa fa-exchange', 'wish-compare', 'c')" value="to">
                                                       {{ 'add'|from_key }}
                                                </a>

                                        </div>

                                    </div>
                                </div><!-- /.product-item -->
                                </div><!-- /.product-item-holder -->
                            {% endfor %}

                        </div><!-- /#recently-carousel -->

                    </div><!-- /.carousel-holder -->
                </div><!-- /.container -->
            </section><!-- /#recently-reviewd -->

{% endif %}