 {% load static %}

 {% load store_tags_rating %}

                                                                    <div id="stars-rating">

                                                                        <input id="stars" name="stars" value="{{ new_vote }}" hidden>

                                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">

                                                                            <div class="stars-rating">
                                                                                <div class="row">
                                                                                    <div class="col-xs-12 col-sm-12">
                                                                                        {% for i in new_vote|stars_on %}
                                                                                            <img src="{% static '/assets/images/star-on.png' %}" data-echo="{% static '/assets/images/star-on.png' %}">
                                                                                        {% endfor %}
                                                                                        {% for i in new_vote|stars_off %}
                                                                                            <img src="{% static '/assets/images/star-off.png' %}" data-echo="{% static '/assets/images/star-off.png' %}">
                                                                                        {% endfor %}
                                                                                    </div>
                                                                                    <div class="col-xs-12 col-sm-4">
                                                                                    </div>

                                                                                </div>

                                                                            </div>

                                                                        </a>

                                                                        <ul class="dropdown-menu">
                                                                            {% for star in '12345' %}
                                                                                <li>

                                                                                    <div class="star-item">
                                                                                        <div class="col-xs-12 col-sm-12" align="center">
                                                                                            <div class="row" id="stars_row_{{ forloop.counter }}" name="stars_row_{{ forloop.counter }}"
                                                                                                                onmouseover="cursor_pointer(this)"
                                                                                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                                                                                hx-post=""
                                                                                                hx-trigger="click"
                                                                                                hx-target="#stars-rating"
                                                                                                hx-vals='js:{new_vote: {{ forloop.counter }} }'
                                                                                            >

                                                                                                <div class="col-xs-12 col-sm-2 no-margin" align="center">
                                                                                                </div>

                                                                                                <div class="col-xs-12 col-sm-9 no-margin" align="left">
                                                                                                    {% for i in forloop.counter|stars_on %}
                                                                                                        <img src="{% static '/assets/images/star-on.png' %}" data-echo="{% static '/assets/images/star-on.png' %}">
                                                                                                    {% endfor %}
                                                                                                    {% for i in forloop.counter|stars_off %}
                                                                                                        <img src="{% static '/assets/images/star-off.png' %}" data-echo="{% static '/assets/images/star-off.png' %}">
                                                                                                    {% endfor %}
                                                                                                </div>
                                                                                                <div class="col-xs-12 col-sm-1 no-margin" align="center">
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="row">
                                                                                                <div class="col-xs-12 col-sm-5" align="left">
                                                                                                 </div>
                                                                                                <div class="col-xs-12 col-sm-4" align="left">
                                                                                                    <label>{{ forloop.counter|get_rating_display }}</label>
                                                                                                </div>
                                                                                                <div class="col-xs-12 col-sm-3" align="left">
                                                                                                 </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>

                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>