{% load static %}

<!-- Bootstrap Core CSS -->

        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

        <!-- Customizable CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/colors/navy.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">

        <!-- Project_custom -->
        <link rel="stylesheet" href="{% static 'assets/css/project_custom.css' %}">

        <!-- Icons/Glyphs -->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
        <!--[if lt IE 9]>
            <script src="{% static 'assets/js/html5shiv.js' %}"></script>
            <script src="{% static 'assets/js/respond.min.js' %}"></script>
        <![endif]-->

        <!--        SITEAJAX-->
                {% include "siteajax/cdn.html" %}
